    <div class="container" ng-controller="delete">
    <h2>Delete:</h2>
    <form class="form-horizontal" >
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">ID:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="delete" placeholder="Enter ID to Delete.." ng-model="userId">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="deleteData()">Submit</button>
            </div>
        </div>
    </form>
</div>

<!--
    <div class="container" ng-controller="delete">
    <h2>Delete</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" ng-model="username">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="userpassword">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Address:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="address" placeholder="Enter Address" name="Address" ng-model="useraddress">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Age:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" ng-model="userage">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Mobile:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile" name="mobile" ng-model="usermobile">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="name">UserRole:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="UserRole" placeholder="Enter UserRole" name="mobile" ng-model="UserRole">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">UserStatus:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="UserStatus" placeholder="Enter UserStatus" name="UserStatus" ng-model="UserStatus">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">UserId1:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="UserId1" placeholder="Enter UserId1" name="UserId1" ng-model="UserId1">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Id:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Id" placeholder="Enter Id" name="UserStatus" ng-model="Id">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">UserEmail:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="UserEmail" placeholder="Enter UserEmail" name="UserEmail" ng-model="UserEmail">
            </div>
        </div>
        


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="deleteData()">Submit</button>
            </div>
        </div>
    </form>
    -->
