<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registeration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
       body {
            background-image: url("../Res/blur.jpg");
            height: 100%;
            background-position:inherit;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bg {
            background-image: url("../Res/cover2.jpg");
        }
          

       
     /*  .whitefont{
           color:white;
       }

        label{
            color:white;
        }

        h2{
            color:white;
        }

        tr{
            color:white;
        }*/


        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height: 200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @@media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }

    </style>
</head>
<body ng-app="myApp" ng-controller="home">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Azure Project</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!homePage">Home</a></li>
                <li><a href="#!getalldata">Get all Data</a></li>
                <li><a id="fontcolor">Change Font Color</a></li>
                <li><a id="bg">Change Background</a></li>
                <li><a href="#!delete" id="delete">Delete Data</a></li>
                <li><a href="#!update" id="delete">Update Data</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="form-group" ng-init="fontColor='white'">
                    <input type="text" class="form-control" placeholder="Search" name="search" ng-model="fontColor">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>

            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#!login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>


   <!-- <iframe src="http://free.timeanddate.com/clock/i6h0cl88/n176/fn3/fs16/fcff0/tc000/bas2/bat1/bacfff/pa8/tt0/tw1/th1/tb4" frameborder="0" width="207" height="57" align="right"></iframe>
  -->


    <div ng-view></div>


    <script>

        var app = angular.module("myApp", ["ngRoute"]);
        app.config(function ($routeProvider) {
            $routeProvider
            .when("/login", {
                templateUrl: "Login"
            })
            .when("/register", {
                templateUrl: "Register"
            })
            .when("/getalldata", {
                templateUrl: "GetAllData"
            })
            .when("/delete", {
                templateUrl: "Delete"
            })
            .when("/update", {
                templateUrl: "Update"
            })
            .when("/homePage", {
                templateUrl: "HomePage"
            })
        });

        

        app.controller('home', function ($scope) {

            
             
        });

        app.controller('login', function ($scope, $http) {

            $scope.login = function () {

                var config = {
                    params:
                        {
                            email: $scope.userEmail,

                            pass: $scope.userPassword
                        }
                }


                $http.get("http://localhost:16106/api/Values/", config)
                    .then(function (response) {
                        var mres = response.data;

                        if (mres.UserEmail != null) {
                            alert("Welcome " + mres.Name)
                        }
                        else {
                            alert('Invalid Email or Password');
                        }

                    });

            }
        });



        app.controller('update', function ($scope, $http) {

            $scope.updateData = function () {

                var data = {
                    UserId1: $scope.userId,
                    Name: $scope.userName,
                    UserPassword: $scope.userPassword,
                    UserAdress: $scope.userAddress,
                    Age: $scope.userAge,
                    UserEmail: $scope.userEmail,
                    UserMobile: $scope.userMobile

                };

                var config = {
                    headers: {
                        'Accept': 'application/json;'
                    }
                }

                $http.put("http://localhost:16106/api/values", JSON.stringify(data), config)
                    .then(function (response) {
                        console.log(response.status);
                    },
                        function (response) {
                            console.log(response.status);
                        }
                    );

                alert('Data updated successfully');

                $scope.userName = "";
                $scope.userPassword = "";
                $scope.userAddress = "";
                $scope.userAge = "";
                $scope.userMobile = "";
                $scope.userEmail = "";
                $scope.userId = "";
               
            };
            
            $scope.getData = function () {

                var config = {
                                params:
                                    {
                                        id: $scope.userId
                                    }
                             }

                
                $http.get("http://localhost:16106/api/Values/", config)
                    .then(function (response) {
                        var mres = response.data;

                        if (mres.Name != null)
                        {
                            $scope.userName = mres.Name;
                            $scope.userPassword = mres.UserPassword;
                            $scope.userAddress = mres.UserAdress;
                            $scope.userAge = mres.Age;
                            $scope.userMobile = mres.UserMobile;
                            $scope.userEmail = mres.UserEmail;
                            

                        }
                         else
                        {
                            $scope.userName = "";
                            $scope.userPassword = "";
                            $scope.userAddress = "";
                            $scope.userAge = "";
                            $scope.userMobile = "";
                            $scope.userEmail = "";
                            $scope.msg = "ID not found.....";
                            alert('Invalid ID :' + $scope.userId);
                        }
                        
                    });
                

                
                
            };

        });


        app.controller('register', function ($scope, $http) {

            $scope.registerData = function () 
            {

                
                if ($scope.userId == "" || $scope.userName == "" || $scope.userPassword == "" || $scope.userAge == "" || $scope.userMobile == "" || $scope.userEmail == "" || $scope.userAddress == "") {
                    alert("Fields cann't be empty");
                }

                else {


                    var config = {
                        params:
                            {
                                id: $scope.userId
                            }
                    }


                    $http.get("http://localhost:16106/api/Values/", config)
                        .then(function (response) {
                            var mres = response.data;

                            if (mres.Name != null) {
                                alert('ID already exist, Please choose another one.');
                                $scope.userId = "";
                            }
                            else {
                                var data = {
                                    UserId1: $scope.userId,
                                    Name: $scope.userName,
                                    UserPassword: $scope.userPassword,
                                    UserAdress: $scope.userAddress,
                                    Age: $scope.userAge,
                                    UserEmail: $scope.userEmail,
                                    UserMobile: $scope.userMobile
                                }

                                var config = {
                                    headers: {
                                        'Accept': 'application/json;'
                                    }
                                }

                                $http.post("http://localhost:16106/api/values", JSON.stringify(data), config)

                                alert('Data Saved Successfully');

                                $scope.userName = "";
                                $scope.userPassword = "";
                                $scope.userAddress = "";
                                $scope.userAge = "";
                                $scope.userMobile = "";
                                $scope.userEmail = "";
                                $scope.userId = "";
                            };


                        });

                }
                };


                    });
/*

                var data = {
                    UserId1: $scope.userId,
                    Name: $scope.userName,
                    UserPassword: $scope.userPassword,
                    UserAdress: $scope.userAddress,
                    Age: $scope.userAge,
                    UserEmail: $scope.userEmail,
                    UserMobile: $scope.userMobile

                };

                var config = {
                    headers: {
                        'Accept': 'application/json;'
                    }
                }
                    
                $http.post("http://localhost:16106/api/values", JSON.stringify(data), config)
                    .then(function (response) {
                        console.log(response.status);
                    },
                        function (response) {
                            console.log(response.status);
                        }
                    );

                alert('Data Saved Successfully');

                $scope.userName = "";
                $scope.userPassword = "";
                $scope.userAddress = "";
                $scope.userAge = "";
                $scope.userMobile = "";
                $scope.userEmail = "";
                $scope.userId = "";
            };

        });

 */

        app.controller('delete', function ($scope, $http) {

            $scope.deleteData = function () {






                var config = {
                    params:
                        {
                            id: $scope.userId
                        }
                }


                $http.get("http://localhost:16106/api/Values/", config)
                    .then(function (response) {
                        var mres = response.data;

                        if (mres.Name != null)
                        {
                            

                            var config = {
                                params:
                                    {
                                        id: $scope.userId
                                    }
                            }



                            $http.delete("http://localhost:16106/api/values", config).then(function (response) {
                                console.log(response.status);
                            },
                                    function (response) {
                                        console.log(response.status);
                                    }
                                );
                            alert('Data deleted for : ' + mres.Name);
                            $scope.userId = "";
                        }

                        else
                        {
                            alert("ID not found!!!")
                        }

                    });












             /*   var config = {
                    params:
                        {
                            id: $scope.userId
                        }
                }



                $http.delete("http://localhost:16106/api/values", config).then(function (response) {
                    console.log(response.status);
                },
                        function (response) {
                            console.log(response.status);
                        }
                    );*/


       }
        });

       




        app.controller('getalldata', function ($scope, $http) {

            $http.get("http://localhost:16106/api/Values/List")
                    .then(function (response) {
                        $scope.APIdata = response.data;
                    });


            $scope.refreshData = function()
            {
                
                $http.get("http://localhost:16106/api/Values/List")
                    .then(function (response) {
                        $scope.APIdata = response.data;
         });
            }

        });



        $(document).ready(function () {

            $("#fontcolor").click(function () {
                $("label, tr, h2").toggleClass("whitefont");
            });

           $("#bg").click(function () {
                $("body").toggleClass("bg");
           });

        });


    </script>


</body>
</html>
